services:
  master:
    build: ./master
    ports:
      - "3000:3000"
    depends_on:
      - redis
    environment:
      - NODE_ENV=production
      - REDIS_HOST=${REDIS_HOST:-redis}
      - REDIS_PORT=${REDIS_PORT:-6379}
      - REDIS_DB=${REDIS_DB:-0}
    restart: always

  worker:
    build: ./worker
    depends_on:
      - redis
    environment:
      - NODE_ENV=production
      - TOKEN=${TOKEN}
      - REDIS_HOST=${REDIS_HOST:-redis}
      - REDIS_PORT=${REDIS_PORT:-6379}
      - REDIS_DB=${REDIS_DB:-0}
    deploy:
      replicas: 2  # You can change the number of replicas to scale workers
    restart: always
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    restart: unless-stopped
